* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.project {
    background-color: #d8dbe2;
    color: #626262;
    font-weight: 400;
    letter-spacing: 0;
}

/* Comon */
.text-center {
    text-align: center;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.cv-p-20 {
    padding: 20px;
}

.cv-a {
    text-decoration: none;
}

/* Content-demo */
.demo-content {
    padding: 100px 15px;
    margin: 30px 100px 0px 100px;
}

/* Logo */
.demo-content .logo {


}

.demo-content .logo img {
    width: 200px;
}

.demo-content .logo p {
    margin: 15px 0;
    line-height: 1.6;
}

/* CV */
.cv-bgr {
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

}

.cv-bgr:hover {
    box-shadow: 0 2px 48px 0 rgba(54, 44, 54, 0.414);
}

.cv-content-width {
    width: 33.3333%;
}

.cv-content-title {
    color: #171717;
    line-height: 1.4;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cv-image {
    width: 100%;
    background-size: contain;
}