.cv-bg-1{
    background-color: #d8dbe2;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}
.cv-img-title{
    width: 30%;
}
.cv-body{
    box-sizing: border-box;
}
.cv-mt-5{
    margin-top: 5%;
}
.cv-bg-2{
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

}
.cv-bg-2:hover {
    box-shadow: 0 2px 48px 0 rgba(255,0,0,.4);
}
.cv-image-content{
    width: 100%;
}
.cv-content-width{
    width: 33.332%;
}
.cv-content-title{
    color: #171717;
    line-height: 33px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.cv-p-10{
    padding: 10px;
}
.cv-p{
    padding: 5%;
}
.cv-m-r-8{
    margin-right: 8%;
    margin-left: 8%;
}
.cv-a{
    text-decoration: none;
}